h3{text-align: center;}

  .empresa-container {
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
  }
  
  .empresa {
    margin-bottom: 30px;
  }
  
  .empresa p {
    background-color: #4bb65b;
    padding: 80px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    
  }
  
  .vision p {
    background-color: #4bb65b;
    padding: 80px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
  }

  .vision{
    margin-top: 60px;
  }
  
  .carousel-container {
    margin-bottom: 30px;
    margin-top: 60px;
    text-align: center;
  }
  
  .carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-images {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel.animating .carousel-images {
    transform: translateX(-100%);
  }
  
  .carousel img {
    width: 300px;
    height: 40vh;
    object-fit: cover; 
    border-radius: 10px;
  }
  
  .carousel-button {
    background-color: #2eb440;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 10px;
  }
  
  .carousel-button:hover {
    background-color: #1a7d2b;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px 0;
  }
  
  .image-grid img {
    width: 100%;
    height: 50vh;
    border-radius: 8px;
  }
  
  
  /* Estilos Responsivos */
  @media (max-width: 430px) {
    .empresa-container {
      padding: 15px; /* Reduce el padding para pantallas pequeñas */
    }
  
    .empresa p, .vision p {
      padding: 30px; /* Reduce el padding para mejor ajuste en pantallas pequeñas */
      border-radius: 30px; /* Ajusta el border-radius para pantallas pequeñas */
    }
  
    .carousel-images {
      flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
      gap: 5px; /* Reduce el gap entre imágenes */
    }
  
    .carousel img {
      width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
      height: 30vh; /* Ajusta la altura automáticamente para mantener la proporción */
    }
  
    .carousel-button {
      padding: 8px; /* Reduce el padding de los botones */
      font-size: 14px; /* Reduce el tamaño de la fuente */
    }

    /* Estilos responsive para la cuadrícula de imágenes */
  .image-grid {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    gap: 5px; /* Reduce el gap entre las imágenes */
  }

  .image-grid img {
    width: 100%; /* Asegura que las imágenes se ajusten al ancho del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
  }
}
  